.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

/application/config/config.php
/application/config/database.php

/eclipse
/nbproject
/.htaccess
/.buildpath
/.settings
/.buildpath
/.project
/.idea

/index.php
/uploads/*.*
/temp/*.*
!temp/index.html
/application/config/config.php
/application/config/database.php
**/.fuse_hidden*